<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Form</title>
    <!-- Link đến Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Định dạng CSS cho form -->
    <style>
        .container {
            margin-top: 50px;
        }
        .form-group {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <h2>User Form</h2>
    <form action="/Controllers/registers" method="post">
        <div class="form-group">
            <label for="name">User Name:</label>
            <input type="text" class="form-control" id="name" Th:name="name" required>
        </div>

        <button type="submit" class="btn btn-primary" >Submit</button>
    </form>

    <div class="container">
        <h2>User Information</h2>
        <table class="table table-bordered">
            <tbody>
            <tr th:each="user : ${user}">
                <td th:text="${user}"></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>

<!-- Link đến Bootstrap JavaScript và các thư viện liên quan (tùy chọn) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
</body>
</html>
